.main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top right, #6cd2ff, #d390ff);
  display: flex;
  flex-flow: row wrap;

  .hero {
    display: grid;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));

    .welcome_section {
      font-size: 3rem;
      margin-left: 4rem;
      * {
        margin: 0;
        padding: 0;
        color: rgb(238, 238, 238);
      }
    }
  }
}
