.main {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top right, #6cd2ff, #d390ff);
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(20px, 1.1vw, 32px);

  .hero {
    margin-top: 10%;
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-size: clamp(20px, 1.1vw, 32px);
    color: white;
    text-align: center;

    > * {
      margin: 0 1rem 0;
    }

    form {
      display: flex;
      flex-flow: column nowrap;
      width: 60%;
      margin: 1em auto;
      label {
        font-size: 1em;
        font-weight: 600;
      }
      input {
        margin-top: 0.4em;
        font-size: 1em;
        outline: none;
        padding: 0.4em;
        border: none;
        border-radius: 0.4em;
        transition: all 200ms ease;

        &:focus-visible {
          box-shadow: 0px 0px 1em rgb(238, 238, 238);
        }

        &::placeholder {
          opacity: 0.4;
        }
      }

      .city_submit_button {
        font-weight: 600;
        outline: none;
        padding: 0.4em;
        font-size: 1em;
        margin: 0.4em auto;
        border: 4px solid white;
        border-radius: 0.4em;
        background: none;
        color: white;
        // transition: all 200ms ease;

        &:hover {
          cursor: pointer;
          color: #000000;
          mix-blend-mode: screen;
          background-color: white;
        }
      }
    }
    .error_box {
      background-color: rgb(255, 27, 65);
      padding: 1em;
      border-radius: 1em;

      .error_message {
        font-size: clamp(0.8em, 3vw, 1.3em);
      }
    }

    a {
      margin: 0;
      color: blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .weather_data_area {
    max-width: 1024px;
    width: 100%;

    .weather_data_header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;

      .city {
        color: white;
        font-size: clamp(0.8em, 3vw, 1.3em);
        font-style: italic;
        margin: 1rem 1rem 0;
      }

      .degreeToggle {
        color: white;
        cursor: pointer;
        font-size: 2em;

        margin: 1rem 1rem 0;
        user-select: none;
      }
    }

    // margin: auto;
  }
}

// .main {
//   padding: 0;
//   margin: 0;
//   min-height: 100vh;
//   min-width: 60%;
//   background-image: linear-gradient(to top right, #6cd2ff, #d390ff);
//   display: flex;
//   flex-flow: row wrap;

//   .hero {
//     display: grid;
//     min-width: 60%;
//     align-items: center;
//     justify-content: center;
//     margin: 20rem auto 12rem;
//     grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

//     .welcome_section {
//       font-size: clamp(1rem, 2.4vw, 3rem);
//       margin: auto;
//       order: 2;
//       * {
//         margin: 0;
//         padding: 0;
//         color: rgb(238, 238, 238);
//       }
//     }
//   }
//   .big_weather_grid {
//     display: grid;
//     gap: 2rem;
//     min-width: 60%;
//     align-items: center;
//     margin: auto;
//     grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
//   }
// }
